{% extends 'myapp/base.html' %}

{% block content %}
<h2 class="p-5 text-center">投稿一覧</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for item in post_list %}
  <div class="col">
    <div class="card">
      <div class="card-header align-items-center"><strong>{{ item.author }}</strong></div>
      <img src="{{ item.thumbnail.url }}" class="card-img-top"
        alt="{{ item.title }}">
        <a href="{% url 'myapp:post_detail' item.id %}"><div class="mask rgba-white-slight"></div></a>
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}</h4>
        <span class="badge badge-info">{{ item.category }}</span>
        <p class="card-text">{{ item.content | truncatechars:50 }}</p>
        <a href="{% url 'myapp:post_detail' item.id %}">もっと読む</a>
        {% if item.like_count %}
          <i class="fas fa-heart fa-lg" style="color:rgb(255, 122, 155);"></i>{{ item.like_count }}
        {% endif %}
        <p class="card-text">
          <small class="text-muted">{{ item.created_at }}</small>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'myapp/pagination.html' %}
{% endblock %}