{% extends 'myapp/base.html' %}

{% block content %}
  <h2 class="p-5 text-center">Home</h2>
  <div class="card-group mb-4">
    <div class="row">
      {% for item in post_list %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ item.thumbnail.url }}" class="card-img-top"
            alt="{{ item.title }}">
            <a href="{% url 'myapp:post_detail' item.id %}"><div class="mask rgba-white-slight"></div></a>
          <div class="card-body">
            <h4 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h4>
            <small>{{ item.category }}</small>
            <p class="card-text">{{ item.content | truncatechars:50 }}</p>
            <a href="{% url 'myapp:post_detail' item.id %}">もっと読む</a>
            <p class="card-text">
              <small class="text-muted">{{ item.created_at }}</small>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include 'myapp/pagination.html' %}
{% endblock %}