{% extends 'myapp/base.html' %}

{% block content %}
<h2 class="p-5 text-center">ログイン</h2>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="mb-4">
        {{ field.label }}
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mb-4">ログイン</button>
    </form>
    <a href="{% url 'guest_login' %}" class="btn btn-secondary">ゲストログイン</a>
  </div>
</div>
{% endblock %}