<nav aria-label="Page navigation example m-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">前</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">前</a></li>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
      {% if link_page %}
        {% if link_page == page_obj.number %}
          <li class="page-item disabled"><a class="page-link" href="#">{{ link_page }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ link_page }}">{{ link_page }}</a></li>
        {% endif %}
      {% else %}
        <li class="page-item disabled"><a class="page-link text-muted" href="#">・・・</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">次</a></li>
    {% else %}
      <li class="page-item disabled"><div class="page-link" href="#">次</div></li>
    {% endif %}
  </ul>
</nav>