<nav aria-label="Page navigation example mb-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    </li>
    {% endif %}
    <li class="page-item">
      <span class="current">
        {{ page_obj.number }}
      </span>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>