{% extends 'myapp/base.html' %}

{% block content %}
<h2 class="p-5 text-center">投稿一覧</h2>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
          <th>日付</th>
        </tr>
      </thead>
      <tbody>
        {% for item in post_list %}
        <tr>
          <td><a href="{% url 'myapp:post_detail' item.pk %}">{{ item.title }}</a></td>
          <td>{{ item.content }}</td>
          <td>{{ item.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}